.info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.city-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.humidity-container{
    display: flex;
    flex-direction: column;
}

.humidity-container span{
    display: flex;
    align-content: center;
    gap: 10px;
}

.humidity-container h2{
    display: flex;
    flex-direction: row;
}

.percentage{
    font-size: 0.5em;
}
