.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    width: 80%;
    margin: 0 auto;
    max-width: 1500px;
    height: 90vh;
    max-height: 1100px;
}


span{
    font-size: 1.5em;
}

p{
    font-size: 1.5em;
}

input{
    border: 2px solid rgb(92, 92, 92);
    border-radius: 50px;
    padding: 10px 40px;
    width: 400px;
    background-color: rgba(252, 252, 252, 0.021);
    font-size: 1.2em;
    color: #fff;
    outline: none;
    transition: 0.3s;
}

input:hover{
    border: 2px solid #ff7300;
    transition: 0.3s;
}

.weather-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    width: 80%;
    max-width: 1500px;
    margin: 0 auto;
}

.weather-icon-container{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-icon-container img {
    height: 50%;
}

/* para pantallas de portatil */
@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    row-gap: 50px;
  }
}

/* pantallas mobile */
@media (max-width: 600px) {
    .grid-container{
        width: 90%;
        column-gap: 0;
        margin: 0;
    }
}

