.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    width: 80%;
    margin: 0 auto;
    max-width: 1500px;
    height: 90vh;
    max-height: 1100px;
}


span {
    font-size: 1.5em;
}

p {
    font-size: 1.5em;
}

input {
    border: 2px solid rgb(92, 92, 92);
    border-radius: 50px;
    padding: 10px 40px;
    width: 400px;
    background-color: rgba(252, 252, 252, 0.021);
    font-size: 1.2em;
    color: #fff;
    outline: none;
    transition: 0.3s;
}

input:hover {
    border: 2px solid #ff7300;
    transition: 0.3s;
}

.weather-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    width: 80%;
    max-width: 1500px;
    margin: 0 auto;
}

.weather-icon-container {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-icon-container img {
    height: 50%;
}

.author-credit {
    font-size: 1em;
    color: #f0f0f036;
    font-weight: 100;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translate(-50%, -20%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0%);
  }
}

.error-message {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 250px;
  background-color: #202020;
  border: 1px solid rgba(255, 102, 0, 0.4);
  padding: 15px 25px;
  border-radius: 16px;
  color: #fff;
  box-shadow: 0 0 30px rgba(255, 102, 0, 0.3);
  align-items: center;
  gap: 12px;
  font-size: 0.8em;
  display: none;
}

.error-message.show {
  display: flex;
  animation: fadeInSlide 0.5s ease-out;
}


.error-message img {
    height: 50px;
}

/* para pantallas de portatil */
@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        height: auto;
        row-gap: 50px;
        margin-bottom: 400px;
    }
}

/* pantallas mobile */
@media (max-width: 600px) {
    .grid-container {
        width: 90%;
        column-gap: 0;
        row-gap: 0;
        margin: 0 auto;
        margin-bottom: 400px;
    }

    .weather-icon-container {
        grid-column-start: 1;
        grid-column-end: 3;
        height: 100px;
    }

    .weather-icon-container img {
        height: 100%;
    }
}